DATABASE_URL="postgresql://postgres:postgres@localhost:5432/opensensemap"
SHADOW_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
SESSION_SECRET="super-duper-s3cret"
MAPTILER_KEY="PUT_YOUR_KEY_HERE"
OSEM_API_URL="http://localhost:8000"
MAPBOX_ACCESS_TOKEN=""
MAPBOX_GEOCODING_API="https://api.mapbox.com/geocoding/v5/mapbox.places/"
OSEM_API_URL="https://api.opensensemap.org/"
DIRECTUS_URL="https://coelho.opensensemap.org"
