# ignore VS Code json files
.vscode

.DS_Store
node_modules

/build
/server-build
/public/build
.env
.cache

/cypress/screenshots
/cypress/videos
/postgres-data
/pgdata

/db/imports/*.csv
measurements.csv
