services:
  postgres:
    # image: timescale/timescaledb:2.10.2-pg14
    image: timescale/timescaledb-ha:pg15
    # Preload pg_cron extension
    # https://github.com/timescale/timescaledb-docker-ha/issues/293
    # Extension is created with prisma
    command:
      - -cshared_preload_libraries=timescaledb,pg_cron
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      # - ./pgdata:/home/postgres/pgdata
      - ./db/imports:/home/postgres/imports
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  martin:
    image: ghcr.io/maplibre/martin:latest
    restart: always
    ports:
      - "3001:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/opensensemap?sslmode=disable
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
