services:
  postgres:
    image: timescale/timescaledb-ha:pg18
    # Preload pg_cron extension
    # https://github.com/timescale/timescaledb-docker-ha/issues/293
    command:
      - -cshared_preload_libraries=timescaledb,pg_cron
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - '5432:5432'
