:root {
  --color-black: #121212;
  --color-white: #ffffff;
  --color-blue-100: #3d9cce;
  --color-blue-200: #1879af;
  --color-blue-500: #3b82f6;
  --color-blue-700: #1d4ed8;
  --color-blue-50: #f8fafc;
  --color-gray-100: #b8b8b8;
  --color-gray-200: #c0bfbf;
  --color-gray-300: #717070;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-green-100: #69ac54;
  --color-green-300: #709f61;
  --color-red-500: #f10000;
  --color-orange-500: #f97316;
  --color-violet-500: #7f00ff;
  --color-yellow-500: #eab308;
  --color-headerBorder: #e3e3e3;

  /* shadcn color definitions */
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --ring: 215 20.2% 65.1%;

  /* shadcn radius definition */
  --radius: 0.5rem;
}

.dark {
  /* shadcn dark mode color definitions */
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;

  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;

  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --border: 216 34% 17%;
  --input: 216 34% 17%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 1.2%;

  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;

  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;

  --ring: 216 34% 17%;

  /* shadcn dark mode radius definition */
  --radius: 0.5rem;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  margin-top: 2px;
  margin-bottom: 4px;
  vertical-align: middle;
  white-space: nowrap;
}
