:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue-100: #e3e5e5;
  --color-blue-300: #5ed2f2;
  --color-blue-500: #00aae9;
  --color-blue-700: #0071c2;
  --color-blue-900: #00336a;
  --color-slate-500: #a9adc1;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #e6e9ee;
  --color-gray-300: #dde0e4;
  --color-gray-400: #818890;
  --color-gray-500: #535661;
  --color-gray-600: #4b4c53;
  --color-gray-700: #3a3d4a;
  --color-gray-800: #2e3039;
  --color-gray-900: #1f2028;
  --color-green-100: #00e17b;
  --color-green-300: #00b764;
  --color-green-500: #00a359;
  --color-green-700: #02844f;
  --color-green-900: #02603f;
  --color-red-500: #bc1d29;
  --color-violet-500: #7c30a0;
  --color-orange-500: #ec8c1e;
}
